body {
    position: relative;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    color: #333;
}

div {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px;
}

/* div que ta dentro da primeira div*/
div > div {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}

form {
    margin-top: 10px;
}


/* tabelas (usadas no carrinho de compras) */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

/* cabeçalhos e células da tabela */
th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

/* botões */
button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* links */
a {
    text-decoration: none;
    color: #333;
}

a:hover {
    text-decoration: underline;
}


/* Adicionar ao Carrinho */
button.add-to-cart-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button.add-to-cart-btn:hover {
    background-color: #45a049;
}

/* Ver Carrinho */
a.view-cart-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px;
    background-color: #008CBA;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a.view-cart-btn:hover {
    background-color: #00688B;
}

/* total do carrinho */
p.cart-total {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
}

/* Esvaziar Carrinho e Continuar Comprando */
a.empty-cart-btn,
a.continue-shopping-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #FF5722;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a.empty-cart-btn:hover,
a.continue-shopping-btn:hover {
    background-color: #E64A19;
}
